{% extends "base.html" %}

{% block content %}

   <section class="page__hero hero">
      <div class="hero__bg">
         <img src="/static/images/hero-bg.jpg" alt="image tour">
      </div>
      <div class="hero__container">
         <div class="hero__body">
            <h1 class="hero__title">Discover the most engaging places</h1>
            <div class="hero__text">
               <p>Less planning 45,000 trips are ready for you</p>
            </div>
         </div>
      </div>
   </section>

{% endblock %}